allow system_app touchpanel_sysfs:file rw_file_perms;
allow system_app touchpanel_sysfs:dir { search read write ioctl };

allow system_server touchpanel_sysfs:file rw_file_perms;
allow system_server touchpanel_sysfs:dir { search read write ioctl };

allow untrusted_app touchpanel_sysfs:file rw_file_perms;
allow untrusted_app touchpanel_sysfs:dir { search read write ioctl };
